/* Reset Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

/* body */

header {
    background-color: white;
    padding: 10px 20px;
}

body {
    background-color: #f1f1f1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.content {
    padding: 60px 0;
}

.card {
    background-color: white;
    padding: 24px;
    border-radius: 10px;
}

.sheet p {
    display: inline-block;
}


.checkmark {
    display: inline-block;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: small;
    vertical-align: middle;
    margin-bottom: 10px;
    text-align: center;
}

.checkmark.false {
    color: red;
}

.checkmark.true {
    color: green;
}

.arrow {
    font-size: small;
    margin-right: 10px;
}

.type {
    border-radius: 50%;
    padding: 5px 10px;
    margin: 10px;
    color: white;
    background-color: grey;
}

.editorial {
    background-color: #38a9ff;
}