/* Reset Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

/* body */

header {
    background-color: white;
    padding: 10px 20px;
}

body {
    background-color: #f1f1f1;
}

/* container */

.container {
    max-width: 800px;
    margin: 0 auto;
}

.content {
    padding: 60px 0;
}

/* main content */

.card {
    background-color: white;
    padding: 24px 45px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sheet p {
    display: inline-block;
    padding: 10px 5px;
    vertical-align: middle;
}

.arrow {
    font-size: 10px;
    margin-right: 10px;
    margin-left: 3px;
    vertical-align: middle;
}

.item-title {
    vertical-align: middle;
    display: inline-block;
    line-height: 45px;
    font-size: 20px;
}

.checkmark {
    display: inline-block;
    border-style: solid;
    border-radius: 50%;
    border-width: 2px;
    width: 15px;
    height: 15px;
    line-height: 14px;
    font-size: 10px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 5px;
    text-align: center;
}

.checkmark.false {
    color: red;
}

.checkmark.true {
    color: rgb(0, 203, 118);
}

/* flags */

.type {
    border-radius: 20px;
    padding: 3px 10px;
    margin: 10px 5px;
    display: inline-block;
    line-height: 15px;
    color: white;
    background-color: grey;
    font-size: 10px;
    vertical-align: middle;
}

.editorial {
    background-color: #38a9ff;
}

.mobile {
    background-color: orange;
}

.q1-goals {
    background-color: rgb(194, 28, 255);
}

.recruiting {
    background-color: rgb(28, 194, 139);
}

.website {
    background-color: violet;
}

.sales {
    background-color: rgb(133, 204, 79);
}

.cat {
    background-color: rgb(255, 83, 83);
}

/* buttons */

.buttons {
    background-color: white;
    padding: 10px 45px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.task-add {

    background-color: #38a9ff;
    border-color: #2f8ed7;
}

.section-add {
    margin-left: 5px;
    background-color: white;
    border-color: #cecece;

}

.add {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 11px;
}

/* grey divider */
.divide {
    margin-bottom: 2px;
}